@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Microsoft YaHei" ! important;
}

html {
	-ms-touch-action: none;
}

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

 .footer {
	position: fixed;
	bottom: 1px;
	left: 0;
	width: 100%;
	z-index: 999;
}

#index_page, 
#shop_list_page, 
#insert_edit_shop_page,
#eval_loader,
#eval_shop_page,
#eval_type_page,
#eval_shop_result_list,
#eval_detail_chart,
#eval_result_analasys,
#advise_page {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/first/1_beijing.png");
	text-align: center;
}

#eval_share_page{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/twelf/bj.jpg");
	text-align: center;
}

#index_page .first_biaoti {
	margin: 30px auto 10px;
	width: 100%;
	height: 70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/first/1_biaoti.png");
}

.first_canting {
	margin: 40px auto 10px;
	width: 150px;
	height: 150px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/first/1_canting.png");
	background-repeat: no-repeat;
}



@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
100% {left:0px; top:100px;}
}


#index_page .first_saomiaoxian {
	width: 100%;
	height: 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/first/1_saomiaoxian.png");
	
	position:relative;
	
	/* Safari and Chrome: */
	-webkit-animation-name:myfirst;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

#shop_list_page .sec_biaoti {
	margin: 30px auto 10px;
	width: 90%;
	height: 60px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_biaoti.png");
}

#shop_list_page .tbl_wapper {
	width: 95%;
	margin: 10px auto;
	border-spacing: 10px
}

#shop_list_page .tbl {
	width: 100%;
	margin: 10px auto;
	border-spacing: 10px
}

#shop_list_page .td1 {
	width: 46px;
	height: 46px;
	max-width: 46px;
	line-height: 46px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_sousuo.png");
	text-align: right;
	padding-right: 5px;
}

#shop_list_page .td2 {
	text-align: center;
	margin: 10px auto;
	height: 46px;
	line-height: 46px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_shuru1.png");
}

#shop_list_page .td3_1 {
	width: 46px;
	height: 46px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_q1.png");
}

#shop_list_page .td3_2 {
	width: 46px;
	height: 46px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_q2.png");
}

#shop_list_page .td3_3 {
	width: 46px;
	height: 46px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/sec/2_q3.png");
}


#shop_list_page .td1 a,
#shop_list_page .td2 a {
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	font-family: "Microsoft YaHei" ! important;
}

#insert_edit_shop_page .third_shang1 {
	width: 100%;
	height: 80px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/shang1.png");
	padding:10px;
}

#insert_edit_shop_page .third_shang1 input{
	margin: 9px 10px 0 auto;
	text-align: center;
	background: transparent;
	border: 0;
	color:#fff;
	width:80%;
	height:40px;
	line-height:30px;
	font-size:25px;
}

#insert_edit_shop_page .main_holder{
	position:absolute; z-index:1;
	top:90px; 
	bottom:18px; 
	left:0;
	width:100%;
	overflow:hidden;
}

.scroller {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#insert_edit_shop_page .main_holder  .third_footer{
	text-align: right;
	width: 95%;
	margin: 25px auto 0;
}

#insert_edit_shop_page .main_holder .main_table {
	margin: 5px auto;
	width: 95%;
}

#insert_edit_shop_page .main_holder .main_table .td1 {
	height: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/K1.png");
}

#insert_edit_shop_page .main_holder .main_table .td_header {
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/K2.png");
	font-size: 25px;
	color: #27408B;
	font-weight: bold;
	font-family: "Microsoft YaHei" ! important;
}

#insert_edit_shop_page .main_holder .main_table .td_middle {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/K2.png");
}


#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1,
#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_2{
	margin: 0 auto 10px;
	height: 40px;
	line-height: 40px;
	width: 90%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align:right;
	position:relative;
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1 {
	background-image: url("../images/third/3_1.png");
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_2 {
	background-image: url("../images/third/3_2.png");
}

#insert_edit_shop_page .main_holder .main_table .td_middle .xia{
	margin: 0 auto 10px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/xia.png");
}
#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1 div:nth-child(1) {
	position:absolute;
	left:10px;
	top:2px;
	width:20px;
	height:30px;
	font-size: 20px;
	color: #fff;
	font-weight:normal;
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1 div:nth-child(2),
#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_2 div:nth-child(1) {
	position:absolute;
	left:30px;
	top:2px;
	width:100px;
	height:30px;
	font-size: 18px;
	color: #fff;
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1 div:last-child{
	position:absolute;
	top:3px;
	right:5px;
	height:30px;
	width:25px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

#insert_edit_shop_page .main_holder .main_table .td_middle select{
	margin: 9px 15px 0 auto;
	padding-right:30px;
	text-align: right;
	background: url("../images/third/3jiao.png") 100% no-repeat transparent;
	border: 0;
	color:#fff;
	/* background-color:red; */
	height:25px;
	font-size: 18px;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
}

#insert_edit_shop_page .main_holder .main_table .td_middle select option
{
    padding             : 4px 10px 4px 10px;
    font-size           : 11pt;
    font-weight         : normal;
    background-color: #ccc;
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_2 div:nth-child(2):after{
	top:12px;
	width:100px;
	height:50px;
	font-size: 20px;
	color: #fff;
	content:url("../images/third/3jiao.png"); display:block; position:absolute; right:15px; 
}

#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_1 input,
#insert_edit_shop_page .main_holder .main_table .td_middle .one_3_2 input {
	position:absolute;
	right:25px;
	margin: 9px 5px 0 auto;
	background: transparent;
	border: 0;
	color:#fff;
	width:100px;
	text-align:right;
	height:25px;
	font-size: 18px;
}

#insert_edit_shop_page .main_holder .main_table .td_last {
	height: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/third/K3.png");
}

#eval_loader div:nth-child(1) img{
	margin:100px auto 0;
	width:200px;
	height:200px;	
} 
#eval_loader div:nth-child(2) img{
	margin:80px auto 0;
	width:250px;
} 

/* 评测结果页 */
#eval_shop_page div:nth-child(1) img{
	margin:20px auto;
	width:300px;
} 

#eval_shop_page div:nth-child(2),
#eval_result_analasys .resultAnalasys_wapper{
	padding-top:50px;
	margin:10px auto 0;
	width:300px;
	height:240px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/result/kuang2.png");
} 

#eval_shop_page div:nth-child(2) img{
	width:250px;
}

#eval_result_analasys .resultAnalasys_wapper div{
	width:75%;
	text-align:left;
	margin: 5px auto;
	color:#fff;
	font-size:16px;
}

#eval_type_page div:nth-child(1) {
	display:block;
	margin:30px auto;
	width:100%;
	height:80px;
	background-size: 100% 100%;
	background-position: -15px 0;
	background-repeat: no-repeat;
	background-image:url("../images/type/dingwei.png");
	color:#fff;
	font-size:30px;
	padding-top: 20px;
	padding-left:20px;
}

@-webkit-keyframes myType /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
100% {left:100%; top:0px;}
}

#eval_type_page .type_saomiaoxian{
	width: 30px;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	/* Safari and Chrome: */
	/* -webkit-animation-name:myType; */
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

#eval_detail_chart .main-holder{ 
	position:absolute; 
	top:0px;left:0px; 
	right:0px;	
	bottom:0px;
	padding:0; 
	overflow: none;
}

#eval_detail_chart .main-holder div:nth-child(1){
	background-size: cover;
	background-repeat:repeat-x;
	background-image: url("../images/eleven/bg.jpg");
}



#eval_shop_result_list div:nth-child(1){
	margin:10px auto;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
}

#eval_shop_result_list .tbl_wapper{
	width: 95%;
	margin: 10px auto;
	border-spacing: 10px
}

#eval_shop_result_list .rest_top_header{
	text-align:center;
	font-size:14px;
	height:30px;
	width:100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/nine/9_shangbiaoti.png");
}

#eval_shop_result_list .rest_top_header tr td:nth-child(1){
	width:31%; 
}
#eval_shop_result_list .rest_top_header tr td:nth-child(2){
	width:22%;
}
#eval_shop_result_list .rest_top_header tr td:nth-child(3){
	width:21%;
}
#eval_shop_result_list .rest_top_header tr td:nth-child(4){
	width:auto;
}

#eval_shop_result_list .tbl_wapper{
	width:100%;
	text-align: center;
}
#eval_shop_result_list .tbl_wapper .tbl_normal{
	background-image: url("../images/nine/zt_3.png");
}
#eval_shop_result_list .tbl_wapper .tbl_warn{
	background-image: url("../images/nine/zt_2.png");
}
#eval_shop_result_list .tbl_wapper .tbl_error{
	background-image: url("../images/nine/zt_1.png");
}

#eval_shop_result_list .tbl_wapper .tbl_normal,
#eval_shop_result_list .tbl_wapper .tbl_warn,
#eval_shop_result_list .tbl_wapper .tbl_error{
	height:45px;
	width:95%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 10px auto;
	color:#fff;
	text-align: center;
	font-size:14px;
	font-weight: normal;;
}

#eval_shop_result_list .tbl_wapper table tr td:nth-child(1){
	width:31%; 
}
#eval_shop_result_list .tbl_wapper table tr td:nth-child(2){
	width:22%;
}
#eval_shop_result_list .tbl_wapper table tr td:nth-child(3){
	width:21%;
}
#eval_shop_result_list .tbl_wapper table tr td:nth-child(4){
	width:auto;
}

#wrapper {
	position: absolute;
	z-index: 999;
	top:0px;
	left:0px;
	bottom:0px;
	width: 100%;
	overflow: hidden;
	-ms-touch-action: none;
}

#chartScroller {
	position: relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 1000px;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	background-image: url("../images/eleven/bg.jpg");
	background-repeat:repeat-x;
	background-size:contain;
}

#chartScroller ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#chartScroller li {
	width: 80px;
	height: 100%;
	float: left;
	line-height: 160px;
	/* border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; */
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}

.pop_ctzt_1,
.pop_ctzt_2,
.pop_ctzt_3,
.pop_ctzt_4{
	background-size: 50px 200px;
	background-repeat: no-repeat;
	background-position-x: center;
	text-align: center;
}

.pop_ctzt_1 div,
.pop_ctzt_2 div,
.pop_ctzt_3 div,
.pop_ctzt_4 div{
position:relative;
height:12px;
 width: 230px;
background-color: yellow;
 text-align: center;
writing-mode:tb-rl;
-webkit-transform: rotate(90deg);    /* for Chrome || Safari */
 -moz-transform: rotate(90deg);       /* for Firefox */
-ms-transform: rotate(90deg);        /* for IE */
 -o-transform: rotate(90deg);         /* for Opera */
 z-index: 9;
 font-size:10px;
 color:#fff;
}

.pop_ctzt_1 div{
	top:35%;
}
.pop_ctzt_2 div{
	top:43%;
}

.pop_ctzt_3 div{
	top:50%;
}
.pop_ctzt_4 div{
	top:55%;
}

.pop_ctzt_1{
	background-position-y: 20%;
	background-image: url("../images/eleven/ctzt_1.png");
}

.pop_ctzt_2{
	background-position-y: 35%;
	background-image: url("../images/eleven/ctzt_2.png");
}

.pop_ctzt_3{
	background-position-y: 45%;
	background-image: url("../images/eleven/ctzt_3.png");
}

.pop_ctzt_4{
	background-position-y: 55%;
	background-image: url("../images/eleven/ctzt_4.png");
}

#eval_share_page .total-count{
	margin-top:20px;
	font-size:36px;
	color:#fff;
	text-align:center;
}

#eval_share_page .word-exp{
	width:90%;
	height:40px;
	margin:10px auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/twelf/zi1.png");
}

#eval_share_page .logo-exp{
	width:200;
	height:80px;
	margin:10px auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/twelf/logo.png");
}

.desc-exp{
	text-align:left;
	width:80%;
	height:100px;
	font-size:14px;
	color:#fff;
	margin:10px auto;
}

#eval_result_analasys .header{
	width:90%;
	height:140px;
	margin:50px auto 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/ten/11.png");
}

#eval_result_analasys .header .header-text{
	position:relative;
	top:13px;
	color:#fff;
	font-size:24px;
}


#eval_result_analasys .header .normal-range{
	position:relative;
	top:43px;
	color:#80ff00;
	font-size:12px;
}

#eval_result_analasys .header .scope{
	position:relative;
	top:55px;
	color:red;
	font-size:14px;
}
